faiss-cpu==1.9.0.post1
Flask==3.1.0
Flask-Cors==5.0.0
langchain==0.3.8
langchain-community==0.3.8
langchain-core==0.3.21
langchain-experimental==0.3.3
langchain-ollama==0.2.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.2
langsmith==0.1.147
matplotlib==3.10.0
ollama==0.4.2
openai==1.57.4
pandas==2.2.3
pillow==11.0.0
plotly==5.24.1
plotly-express==0.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
SQLAlchemy==2.0.35
