absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
async-lru==2.0.4
asyncio==3.4.3
attr==0.3.1
attrs==23.2.0
azure-core==1.31.0
azure-storage-blob==12.23.1
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==5.0.1
blinker==1.8.2
boto==2.49.0
boto3==1.35.34
botocore==1.35.34
boxing==0.1.4
Brotli==1.1.0
build==1.2.2.post1
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.15
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.0
cryptography==43.0.3
curl_cffi==0.7.3
cycler==0.12.1
dataclasses==0.6
dataclasses-json==0.6.7
dateparser==1.2.0
db-dtypes==1.3.0
debugpy==1.8.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
distro==1.9.0
Django==3.2.25
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.1.0
django-filter==2.4.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
duckdb==1.1.2
durationpy==0.9
emoji==2.14.0
eval_type_backport==0.2.0
executing==2.1.0
expiringdict==1.2.2
faiss-cpu==1.9.0.post1
Faker==19.13.0
fastapi==0.115.3
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.1
filetype==1.2.0
finnhub-python==2.4.20
fire==0.7.0
flasgger==0.9.7.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Session==0.8.0
flask-sock==0.7.0
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
g4f==0.3.3.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.21.0
google-auth==2.35.0
google-cloud-appengine-logging==1.4.5
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gotrue==0.2.0
gql==3.5.0
gradio==5.5.0
gradio_client==1.4.2
graphql-core==3.2.4
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.67.0
grpcio-status==1.67.0
h11==0.14.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2024.8.1
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.25.1
humanfriendly==10.0
humansignal-drf-yasg==1.21.9
hyperframe==5.2.0
idna==3.7
ijson==3.3.0
importlib_metadata==8.4.0
importlib_resources==6.4.5
imutils==0.5.4
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.28.0
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==3.2.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kaleido==0.2.1
kiwisolver==1.4.7
kubernetes==31.0.0
label-studio==1.13.1
label-studio-sdk==1.0.5
labelImg==1.8.6
langchain==0.3.8
langchain-community==0.3.8
langchain-core==0.3.21
langchain-experimental==0.3.3
langchain-huggingface==0.1.2
langchain-ollama==0.2.0
langchain-openai==0.2.9
langchain-text-splitters==0.3.0
langdetect==1.0.9
langgraph==0.2.53
langgraph-checkpoint==2.0.5
langgraph-sdk==0.1.36
langsmith==0.1.137
launchdarkly-server-sdk==8.2.1
lockfile==0.12.2
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.15
mistune==3.0.2
ml_dtypes==0.5.0
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
multidict==6.0.5
mypy-extensions==1.0.0
narwhals==1.10.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
ollama==0.3.3
onnxruntime==1.19.2
openai==1.55.0
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
ordered-set==4.0.2
orjson==3.10.6
overrides==7.7.0
packaging==24.1
pandas==1.5.3
pandasai==2.3.0
pandocfilters==1.5.1
parso==0.8.4
pd==0.0.4
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
posthog==3.7.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybboxes==0.1.6
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
PyMySQL==1.1.1
pyparsing==3.1.4
pypdf==5.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
pyRFC3339==1.1
pyrsistent==0.20.0
pyspark==3.5.3
pytest==6.2.5
python-binance==1.0.19
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.10.1
python-iso639==2024.10.22
python-json-logger==2.0.4
python-magic==0.4.27
python-multipart==0.0.12
python-oxmsg==0.0.1
python-socketio==5.11.4
pytz==2022.7.1
PyYAML==6.0.1
pyzmq==26.2.0
RapidFuzz==3.10.1
realtime-py==0.1.3
redis==3.5.3
referencing==0.35.1
regex==2024.9.11
rel==0.4.9.19
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.3
roboflow==1.1.47
rpds-py==0.20.0
rq==1.10.1
rsa==4.9
ruff==0.7.3
rules==2.2
s3transfer==0.10.2
safehttpx==0.1.1
safetensors==0.4.5
sahi==0.11.18
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==3.2.1
sentry-sdk==2.17.0
setuptools==75.1.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.0
soupsieve==2.6
SQLAlchemy==1.4.17
sqlglot==25.27.0
sqlglotrs==0.2.12
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.0
streamlit==1.39.0
supabase-py==0.0.2
sympy==1.13.3
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
terminado==0.18.1
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.3.0
tokenizers==0.20.1
toml==0.10.2
tomlkit==0.12.0
torch==2.2.2
torchvision==0.17.2
tornado==6.4.1
tqdm==4.66.4
tradingview_websocket==0.6
traitlets==5.14.3
transformers==4.46.0
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ua-parser==0.18.0
ujson==5.10.0
ultralytics==8.3.6
ultralytics-thop==2.0.9
unstructured==0.16.2
unstructured-client==0.26.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.19
user-agents==2.2.0
uvicorn==0.32.0
uvloop==0.21.0
vanna==0.7.5
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wheel==0.40.0
wrapt==1.16.0
wsproto==1.2.0
xmljson==0.2.1
yarl==1.14.0
yolov5==7.0.13
zipp==3.20.2
